@import "@oblique/oblique/styles/scss/core/variables";

div.infobox {
  width: 90vw;
}

mat-horizontal-stepper {
	width: 90vw;

	.mat-step-label {
		display: none;
	}

	::ng-deep .mat-horizontal-stepper-header {
		pointer-events: none !important;
	}
}
