<div class="wrapper">
	<h1>{{ "certificateRevoke.title" | translate }}</h1>
	<p>{{ "certificateRevoke.instructions" | translate }}</p>

	<ob-alert class="warning-message" [type]="'warning'">
		<span [innerHTML]="'certificateRevoke.warning' | translate"></span>
	</ob-alert>

	<form [formGroup]="revocationForm" (submit)="revoke()">
		<p class="form-field-info">
			{{ "certificateRevoke.uvci.info" | translate }}
		</p>
		<div class="input-container">
			<mat-form-field obErrorMessages class="mat-form-field-lg">
				<mat-label>{{ "certificateRevoke.uvci" | translate }}</mat-label>
				<input
					type="text"
					matInput
					formControlName="uvci"
					id="input-uvci"
					placeholder="urn:uvci:01:CH:xxxxxxxxxxxxxxxxxxxxxxxx"
				/>
				<mat-error></mat-error>
			</mat-form-field>
			<mat-checkbox aria-label="isFraudCheckbox" [checked]="isFraud" (change)="toggleFraud()">
				<span>{{ "certificateRevoke.fraudFlag" | translate }}</span>
			</mat-checkbox>
		</div>

		<button id="button-revoke" mat-button obButton="primary" [disabled]="revocationForm.invalid">
			{{ "certificateRevoke.button" | translate }}
		</button>
	</form>

	<ob-alert *ngIf="revoked" type="success">{{
		"certificateRevoke.success" | obTranslateParams: { uvci: uvciUsed }
	}}</ob-alert>
</div>
