@import "~@oblique/oblique/styles/scss/core/variables";
@import "~@oblique/oblique/styles/scss/core/mixins/layout";

@include media-breakpoint-up(sm) {
	:host.datetime::ng-deep {
		display: flex;

		.mat-form-field.mat-form-field-appearance-outline {
			&:first-child {
				flex: 1;
				margin-right: $spacing-default;
			}
		}
	}
}

:host::ng-deep {
	.mat-form-field-infix {
		width: auto;
	}
}

.date-time-container {
	display: flex;
	width: 100%;

	margin-bottom: 1em;

	mat-form-field {
		max-width: 550px;
	}

	.time-polyfill-label {
		visibility: hidden;
		position: absolute;
	}

	.time-input {
		min-width: 150px;
		flex: 0 0 150px;
	}

	.short-date-checkbox {
		padding-left: 24px;
		padding-top: 15px;
	}
}
