@import "~@oblique/oblique/styles/scss/core/variables";

.from {
	grid-column: span 2;
	display: flex;

	&::after {
		content: "/";
		padding: 6px 16px;
		font-size: xx-large;
	}
}

.to {
	grid-column: span 1;
}

::ng-deep .full-width {
	width: max-content;
	max-width: max-content;

	::ng-deep .mat-option-text {
		width: max-content;
		max-width: max-content;
	}
}
