<form [formGroup]="vaccineForm" #formDirective="ngForm" (submit)="goNext()" obParentFormDirective>
	<ec-personal-data #vaccinePersonalDataComponent></ec-personal-data>
	<fieldset class="form-group">
		<legend class="padding-top">{{ "certificateCreate.form.group.vaccine" | translate }}</legend>

		<div class="form-field">
			<mat-form-field class="mat-form-field-lg" obErrorMessages>
				<mat-label>{{ "certificateCreate.form.label.vaccine.medicalProduct" | translate }}</mat-label>
				<mat-select formControlName="medicalProduct" id="medicalProduct" panelClass="full-width">
					<mat-optgroup *ngFor="let option of getVaccines()" [label]="option.group">
						<mat-option [value]="option" class="full-width">{{ option.display }}</mat-option>
					</mat-optgroup>
				</mat-select>
				<mat-error></mat-error>
			</mat-form-field>
		</div>

		<p class="form-field-info">
			<strong>{{ "common.important" | translate }}: </strong>
			{{ "certificateCreate.step-two.vaccinationinformation" | translate }}
		</p>

		<div class="from">
			<mat-form-field obErrorMessages class="mat-form-field-lg">
				<mat-label>{{ "certificateCreate.form.label.vaccine.doseNumber" | translate }}</mat-label>
				<input
					type="number"
					matInput
					formControlName="doseNumber"
					id="doseNumber"
					min="{{minDose}}"
					max="{{maxDose}}"
					obNumberFormat
					decimals="0"
				/>
				<mat-error></mat-error>
			</mat-form-field>
		</div>

		<div class="to">
			<mat-form-field obErrorMessages class="mat-form-field-lg">
				<mat-label>{{ "certificateCreate.form.label.vaccine.totalDoses" | translate }}</mat-label>
				<input
					type="number"
					matInput
					formControlName="totalDoses"
					id="totalDoses"
					min="{{minDose}}"
					max="{{maxDose}}"
					obNumberFormat
					decimals="0"
				/>
				<mat-error></mat-error>
			</mat-form-field>
		</div>

		<div class="form-field">
			<ob-nested-form
				formControlName="dateOfVaccination"
				[nestedForm]="datepickerVaccination.form"
				obErrorMessages
			>
				<ec-datetimepicker
					#datepickerVaccination
					[label]="'certificateCreate.form.label.vaccine.dateOfVaccination' | translate"
					[showTime]="false"
					[defaultValue]="vaccineForm.get('dateOfVaccination').value"
					required
					[errors]="vaccineForm.get('dateOfVaccination').errors"
					id="dateOfVaccination"
				>
				</ec-datetimepicker>
			</ob-nested-form>

			<mat-form-field class="mat-form-field-lg" obErrorMessages>
				<mat-label>{{ "certificateCreate.form.label.vaccine.countryOfVaccination" | translate }}</mat-label>
				<mat-select formControlName="countryOfVaccination" id="countryOfVaccination">
					<mat-option *ngFor="let option of getCountriesOfVaccination()" [value]="option">
						{{ option.display }}
					</mat-option>
				</mat-select>
				<mat-error></mat-error>
			</mat-form-field>

			<div *ngIf="vaccineForm.get('checkBox').enabled">
				<ec-who-checkbox
					[control]="vaccineForm.get('checkBox')"
					[infoText]="infoText"
					[moreInfo]="'certificateCreate.step-two.moreInfosMessage' | translate"
				></ec-who-checkbox>
			</div>
		</div>
	</fieldset>

	<div class="stepper-footer">
		<section class="stepper-footer-content">
			<button id="cert-create-back" type="button" (click)="goBack()" mat-button obButton="secondary">
				{{ "common.back" | translate }}
			</button>
			<button id="cert-create-next" mat-button obButton="primary" class="right">
				{{ "common.next" | translate }}
			</button>
		</section>
	</div>
</form>
