<form [formGroup]="certificateTypeSelectionForm">
	<mat-radio-group
		formControlName="type"
		id="generationType"
		name="generationType"
		aria-label="Select an option"
		class="radio-button-container"
	>
		<mat-radio-button id="generationType-vaccination" value="vaccination" name="vaccination" class="radio-button">{{
			"certificateCreate.step-one.enum.vaccination" | translate
		}}</mat-radio-button>
		<mat-radio-button id="generationType-test" value="test" name="test" class="radio-button">{{
			"certificateCreate.step-one.enum.test" | translate
		}}</mat-radio-button>
		<mat-radio-button id="generationType-recovery" value="recovery" name="recovery" class="radio-button">{{
			"certificateCreate.step-one.enum.recovery" | translate
		}}</mat-radio-button>
		<legend class="group-header">{{ "certificateCreate.step-one.enum.chOnly" | translate }}</legend>
		<mat-radio-button id="generationType-antibody" value="antibody" name="antibody" class="radio-button">{{
			"certificateCreate.step-one.enum.antibody" | translate
		}}</mat-radio-button>
		<mat-radio-button
			id="generationType-vaccination-tourist"
			value="vaccination-tourist"
			name="vaccination-tourist"
			class="radio-button"
			>{{ "certificateCreate.step-one.enum.vaccination-tourist" | translate }}</mat-radio-button
		>
		<mat-radio-button id="exceptional" value="exceptional" name="exceptional" class="radio-button">Ausnahmezertifikat</mat-radio-button>
	</mat-radio-group>

	<div class="stepper-footer">
		<section class="stepper-footer-content">
			<button id="cert-create-next" type="button" (click)="goNext()" mat-button obButton="primary" class="right">
				{{ "common.next" | translate }}
			</button>
		</section>
	</div>
</form>
