.radio-button-field {
	margin-bottom: 4px;
	padding-bottom: 12px;
	margin-top: 4px;

	.radio-button-field--option {
		padding-right: 16px;
		margin-bottom: 0.5rem;
	}

	.radio-button-field--label {
		display: block;
		margin-bottom: 0.25rem;
		color: rgba(0, 0, 0, 0.6);
		font-weight: 500;
		font-size: 0.9rem;
	}
}

.additional-padding {
	padding-bottom: 24px;
}

.clear-button {
	margin-top: -4px;
}

.clear-icon {
	margin: -4px 0;
}
