<form [formGroup]="testForm" #formDirective="ngForm" (submit)="goNext()" obParentFormDirective>
	<fieldset class="form-group">
		<legend class="padding-top">{{ "certificateCreate.form.group.personalData" | translate }}</legend>

		<div class="form-field">
			<p class="form-field-info">
				<strong>{{ "common.important" | translate }}: </strong>
				{{ "certificateCreate.step-two.personaldata.information" | translate }}
			</p>

			<mat-form-field obErrorMessages class="mat-form-field-lg">
				<mat-label>{{ "certificateCreate.form.label.personalData.firstName" | translate }}</mat-label>
				<input type="text" matInput formControlName="firstName" id="firstName" />
				<mat-error></mat-error>
			</mat-form-field>

			<mat-form-field obErrorMessages class="mat-form-field-lg">
				<mat-label>{{ "certificateCreate.form.label.personalData.surName" | translate }}</mat-label>
				<input type="text" matInput formControlName="surName" id="surName" />
				<mat-error></mat-error>
			</mat-form-field>

			<ob-nested-form formControlName="birthdate" [nestedForm]="datepickerBirthdate.form" obErrorMessages>
				<ec-datetimepicker
					#datepickerBirthdate
					[label]="'certificateCreate.form.label.personalData.birthdate' | translate"
					[showTime]="false"
					required
					[errors]="testForm.get('birthdate').errors"
					id="birthdate"
					shortDateAllowed="true"
				>
				</ec-datetimepicker>
			</ob-nested-form>

			<mat-form-field class="mat-form-field-lg" obErrorMessages>
				<mat-label>{{ "certificateCreate.form.label.personalData.certificateLanguage" | translate }}</mat-label>
				<mat-select formControlName="certificateLanguage" id="certificateLanguage">
					<mat-option *ngFor="let option of getCertificateLanguages()" [value]="option">
						{{ option.display }}
					</mat-option>
				</mat-select>
				<mat-error></mat-error>
			</mat-form-field>
		</div>
	</fieldset>

	<fieldset class="form-group">
		<legend class="padding-top">{{ "certificateCreate.form.group.test" | translate }}</legend>
		<label *ngIf="antibody" class="additional-padding additional-width">{{
			"certificateCreate.from.label.antibody" | translate
		}}</label>

		<div class="form-field">
			<div
				*ngIf="!antibody"
				class="radio-button-field"
				[ngClass]="{ 'additional-padding': !displayTestProducts }"
			>
				<label class="radio-button-field--label">{{
					"certificateCreate.form.label.test.typeOfTest" | translate
				}}</label>
				<div>
					<mat-radio-group id="typeOfTest" [value]="testType" (change)="certificateTypeChanged($event)">
						<mat-radio-button
							*ngFor="let option of getTestTypeOptions()"
							[value]="option"
							id="{{ 'typeOfTest-' + option.code }}"
							class="radio-button-field--option"
						>
							{{ option.display }}
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>

			<mat-form-field class="mat-form-field-lg" obErrorMessages *ngIf="displayTestProducts">
				<mat-label>{{ "certificateCreate.form.label.test.manufacturerAndName" | translate }}</mat-label>
				<input
					type="text"
					matInput
					id="manufacturer"
					[formControl]="rapidTestCompleteControl"
					[matAutocomplete]="auto"
					#rapidTestAutocomplete
				/>
				<button
					type="button"
					role="button"
					[obInputClear]="rapidTestCompleteControl"
					(onClear)="onRapidTestCompleteClear()"
					class="clear-buton"
				>
					<mat-icon svgIcon="cancel-circle" class="ob-icon clear-icon"></mat-icon>
					<span class="sr-only">{{ "i18n.common.clear" | translate }}</span>
				</button>
				<mat-error></mat-error>
				<mat-autocomplete #auto="matAutocomplete" panelWidth="max-content">
					<mat-option
						*ngFor="let option of filteredRapidTests"
						[value]="option"
						[ngStyle]="{ color: option.validUntil ? 'red' : 'black' }"
					>
						{{ option.display }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<p id="gracePeriodMessage" *ngIf="this.testForm.get('product').value?.validUntil">
				{{
					"gracePeriodMessage"
						| obTranslateParams: { validUntil: this.testForm.get("product").value?.validUntil }
				}}
			</p>

			<p class="form-field-info">
				{{ "certificateCreate.form.label.test.sampleDate.info" | translate }}
			</p>
			<ob-nested-form formControlName="sampleDate" [nestedForm]="datepickerSampleDate.form" obErrorMessages>
				<ec-datetimepicker
					#datepickerSampleDate
					[label]="'certificateCreate.form.label.test.sampleDate' | translate"
					required
					[errors]="testForm.get('sampleDate').errors"
					id="sampleDate"
					[defaultValue]="antibody ? getCurrentDate() : getCurrentDateTime()"
					[showTime]="!antibody"
				>
				</ec-datetimepicker>
			</ob-nested-form>

			<p class="form-field-info">
				{{
					(antibody
						? "certificateCreate.form.label.test.center.numberInfo"
						: "certificateCreate.form.label.test.center.info"
					) | translate
				}}
			</p>
			<mat-form-field obErrorMessages class="mat-form-field-lg">
				<mat-label>{{
					(antibody
						? "certificateCreate.form.label.test.center.number"
						: "certificateCreate.form.label.test.center"
					) | translate
				}}</mat-label>
				<input type="text" matInput formControlName="center" id="center" />
				<mat-error></mat-error>
			</mat-form-field>

			<mat-form-field class="mat-form-field-lg" obErrorMessages>
				<mat-label>{{ "certificateCreate.form.label.test.countryOfTest" | translate }}</mat-label>
				<mat-select formControlName="countryOfTest" id="countryOfTest" [disabled]="antibody">
					<mat-option *ngFor="let option of getCountriesOfTest()" [value]="option">
						{{ option.display }}
					</mat-option>
				</mat-select>
				<mat-error></mat-error>
			</mat-form-field>
		</div>
	</fieldset>

	<div class="stepper-footer">
		<section class="stepper-footer-content">
			<button id="cert-create-back" type="button" (click)="goBack()" mat-button obButton="secondary">
				{{ "common.back" | translate }}
			</button>
			<button id="cert-create-next" mat-button obButton="primary" class="right">
				{{ "common.next" | translate }}
			</button>
		</section>
	</div>
</form>
