#who-checkbox {
	$checkbox-label-padding: 8px;

	display: flex;
	flex-direction: column;
	margin-top: 8px;

	::ng-deep .mat-checkbox-label,
	mat-error {
		padding-left: $checkbox-label-padding;
	}

	ob-collapse {
		margin-left: calc(25px + #{$checkbox-label-padding});

		.collapse-header {
			font-weight: bold;
		}

		.collapse-content {
			margin-top: 8px;
		}
	}

	mat-error {
		margin-top: 24px;
		margin-left: 25px;
	}
}

#who-checkbox.error {
	border: #b00020 2px solid;
	border-radius: 4px;
	padding: 8px 16px;
	margin: 8px -16px;
}
