::ng-deep ec-chip-list-fieldset mat-icon svg {
	// Remove vertical align, otherwise the X is not in the middle.
	vertical-align: unset;
}

mat-chip.error [matChipRemove] {
	color: white;
	opacity: 1
}
