@import "@oblique/oblique/styles/scss/core/variables";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

.radio-label {
	display: flex;
}

mat-radio-button {
	margin: $ob-spacing-sm;
}

#appDeliveryCode {
	font-family: "Fira Code", monospace;
	text-transform: uppercase;
	letter-spacing: 5px;
}
