.personal-data-form-group {
	display: grid;
	grid-template-columns: 250px 50px 250px;
	padding-bottom: 24px;

	mat-form-field {
		max-width: 550px;
	}

	.form-field {
		grid-column: span 3;
	}

	.is-invalid {
		background-color: red;
	}
}