@import "@oblique/oblique/styles/scss/core/variables";

.dashboard {
	display: flex;
	flex-wrap: wrap;
	gap: $ob-spacing-default;

	.dashboard-card {
		flex-basis: 400px;

		.dashboard-icon {
			display: flex;
			justify-content: center;
			color: $ob-primary;
			background-color: $ob-gray-extra-light;
			font-size: 75px;
			padding: 50px 100px;
			margin: (-$ob-spacing-default) (-$ob-spacing-default) $ob-spacing-default;
		}

		.dashboard-title {
			font-weight: bold;
		}

		.dashboard-content {
			min-height: 4rem;
		}

		.mat-card-actions {
			margin: 0;
			padding: 0;
		}
	}
}
