<h4>{{ "certificateCreate.step-three.title" | translate }}</h4>
<p>{{ "certificateCreate.step-three.description" | translate }}</p>

<h5>{{ "certificateCreate.form.group.personalData" | translate }}</h5>
<dl>
	<dt>{{ "certificateCreate.form.label.personalData.firstName" | translate }}</dt>
	<dd id="firstName">{{ patient?.firstName }}</dd>
	<dt>{{ "certificateCreate.form.label.personalData.surName" | translate }}</dt>
	<dd id="surName">{{ patient?.surName }}</dd>
	<dt>{{ "certificateCreate.form.label.personalData.birthdate" | translate }}</dt>
	<dd id="birthdate">{{ birthdate }}</dd>
	<dt>{{ "certificateCreate.form.label.personalData.certificateLanguage" | translate }}</dt>
	<dd id="certificateLanguage">{{ "common.language." + patient?.language | translate }}</dd>
</dl>

<ng-container *ngIf="patient?.vaccination">
	<h5>{{ "certificateCreate.form.group.vaccine" | translate }}</h5>
	<dl>
		<dt>{{ "certificateCreate.form.label.vaccine.medicalProduct" | translate }}</dt>
		<dd id="medicalProduct">{{ patient?.vaccination.medicalProduct.display }}</dd>
		<dt>{{ "certificateCreate.step-three.dose" | translate }}</dt>
		<dd id="dose">{{ patient?.vaccination.doseNumber }} / {{ patient?.vaccination.totalDoses }}</dd>
		<dt>{{ "certificateCreate.form.label.vaccine.dateOfVaccination" | translate }}</dt>
		<dd id="dateOfVaccination">{{ patient?.vaccination.dateOfVaccination | date }}</dd>
		<dt>{{ "certificateCreate.form.label.vaccine.countryOfVaccination" | translate }}</dt>
		<dd id="countryOfVaccination">{{ getTranslatedCountry() }}</dd>
	</dl>
</ng-container>

<ng-container *ngIf="patient?.test">
	<h5>{{(GenerationType.RECOVERY_RAT == certificateType
		? "certificateCreate.step-one.enum.recovery-rat"
		: "certificateCreate.form.group.test") | translate }}</h5>
	<dl>
		<dt>{{ "certificateCreate.form.label.test.typeOfTest" | translate }}</dt>
		<dd id="typeOfTest">{{ getTranslatedTypeOfTest() }}</dd>
		<ng-container *ngIf="patient?.test.manufacturer">
			<dt>{{ "certificateCreate.form.label.test.manufacturerAndName" | translate }}</dt>
			<dd id="manufacturer">{{ patient?.test.manufacturer.display }}</dd>
		</ng-container>
		<dt>{{ "certificateCreate.form.label.test.sampleDateTime" | translate }}</dt>
		<dd id="sampleDate">{{ patient?.test.sampleDate | date: "dd.MM.YYYY HH:mm" }}</dd>
		<dt *ngIf="GenerationType.RECOVERY_RAT != certificateType">{{ "certificateCreate.form.label.test.center" | translate }}</dt>
		<dd *ngIf="GenerationType.RECOVERY_RAT != certificateType" id="center">{{ patient?.test.center }}</dd>
		<dt>{{ "certificateCreate.form.label.test.countryOfTest" | translate }}</dt>
		<dd id="countryOfTest">{{ getTranslatedCountry() }}</dd>
	</dl>
</ng-container>

<ng-container *ngIf="patient?.antibody">
	<h5>{{ "certificateCreate.form.group.test" | translate }}</h5>
	<dl>
		<dt>{{ "certificateCreate.form.label.test.typeOfTest" | translate }}</dt>
		<dd id="typeOfAntibodyTest">{{ patient?.antibody.typeOfTest.display }}</dd>
		<ng-container *ngIf="patient?.antibody.manufacturer">
			<dt>{{ "certificateCreate.form.label.test.manufacturerAndName" | translate }}</dt>
			<dd id="antibodyManufacturer">{{ patient?.antibody.manufacturer.display }}</dd>
		</ng-container>
		<dt>{{ "certificateCreate.form.label.test.sampleDate" | translate }}</dt>
		<dd id="antibodySampleDate">{{ patient?.antibody.sampleDate | date: "dd.MM.YYYY" }}</dd>
		<dt>{{ "certificateCreate.form.label.test.center" | translate }}</dt>
		<dd id="AntibodyCenter">{{ patient?.antibody.center }}</dd>
		<dt>{{ "certificateCreate.form.label.test.countryOfTest" | translate }}</dt>
		<dd id="countryOfAntibodyTest">{{ "certificateCreate.step-three.defaultCountrySwitzerland" | translate }}</dd>
	</dl>
</ng-container>

<ng-container *ngIf="patient?.recovery">
	<h5>{{ "certificateCreate.form.group.recovery" | translate }}</h5>
	<dl>
		<dt>{{ "certificateCreate.form.label.recovery.dateFirstPositiveTestResult" | translate }}</dt>
		<dd id="dateFirstPositiveTestResult">{{ patient?.recovery.dateFirstPositiveTestResult | date }}</dd>
		<dt>{{ "certificateCreate.form.label.recovery.countryOfTest" | translate }}</dt>
		<dd id="countryOfRecovery">{{ getTranslatedCountry() }}</dd>
		<dt>{{ "certificateCreate.step-three.validFrom" | translate }}</dt>
		<dd id="validFrom">{{ validFrom | date }}</dd>
	</dl>
</ng-container>

<ng-container *ngIf="patient?.exceptional">
	<h5>{{ "certificateCreate.step-one.enum.exceptional" | translate }}</h5>
	<dl>
		<dt>{{ "certificateCreate.form.label.exceptional.medicalAttestationValidFrom" | translate }}</dt>
		<dd id="exceptionalValidFrom">{{ patient?.exceptional.sampleDate | date }}</dd>
		<dt>{{ "certificateCreate.form.label.exceptional.responsible" | translate }}</dt>
		<dd id="ExceptionalCenter">{{ patient?.exceptional.center }}</dd>
		<dt>{{ "certificateCreate.step-three.attestationCountry" | translate }}</dt>
		<dd id="countryOfAttestation">{{ "certificateCreate.step-three.defaultCountrySwitzerland" | translate }}</dd>
	</dl>
</ng-container>

<h5>{{ "certificateCreate.shipping.title" | translate }}</h5>
<dl>
	<dt>{{ "certificateCreate.form.label.shipping" | translate }}</dt>
	<dd id="shippingOption">{{ "certificateCreate.shipping.options." + shipping?.shippingOption | translate }}</dd>
	<ng-container *ngIf="shipping?.shippingOption === 'app'">
		<dt>{{ "certificateCreate.shipping.app.code" | translate }}</dt>
		<dd id="appCode">{{ shipping?.appDeliveryCode }}</dd>
	</ng-container>
	<ng-container *ngIf="shipping?.shippingOption === 'post'">
		<dt>{{ "certificateCreate.shipping.post.streetAndNr" | translate }}</dt>
		<dd id="streetAndNr">{{ shipping?.streetAndNr }}</dd>
		<dt>{{ "certificateCreate.shipping.post.zipCode" | translate }}</dt>
		<dd id="zipCode">{{ shipping?.zipCode }}</dd>
		<dt>{{ "certificateCreate.shipping.post.city" | translate }}</dt>
		<dd id="city">{{ shipping?.city }}</dd>
		<dt>{{ "certificateCreate.shipping.post.cantonCodeSender" | translate }}</dt>
		<dd id="cantonCodeSender">{{ shipping?.cantonCodeSender }}</dd>
	</ng-container>
</dl>

<div class="stepper-footer">
	<section class="stepper-footer-content">
		<button id="cert-create-back" type="button" (click)="goBack()" mat-button obButton="secondary">
			{{ "common.back" | translate }}
		</button>
		<button id="cert-create-next" type="button" (click)="goNext()" mat-button obButton="primary" class="right">
			{{ "common.next" | translate }}
		</button>
	</section>
</div>
