@import "@oblique/oblique/styles/scss/core/variables";

:host {
	display: flex;
}

.mat-card {
	margin: $ob-spacing-xl 0;
}

.mat-card > .mat-card-actions.actions {
	padding-top: $ob-spacing-xl;
	margin-bottom: 0;
	margin-right: 0;
}

.mat-card-avatar {
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	background-color: $ob-primary;
	color: $ob-white;
}

.links {
	list-style-type: none;
}
